.uk-navbar-container:not(.uk-navbar-transparent) {
	background: #fff;
	padding-left: 2%;
}

.uk-card-primary {
	background: #419FD9;
}

.uk-card-primary.uk-card-body, .uk-card-primary>:not([class*=uk-card-media]), .uk-card-secondary.uk-card-body, .uk-card-secondary>:not([class*=uk-card-media]), .uk-light, .uk-offcanvas-bar, .uk-overlay-primary, .uk-section-primary:not(.uk-preserve-color), .uk-section-secondary:not(.uk-preserve-color), .uk-tile-primary:not(.uk-preserve-color), .uk-tile-secondary:not(.uk-preserve-color) {
	color: #fffffff2;
}

.uk-accordion-title::after {
	background-color: #f9f9f9bf;
	border-radius: 35%;
}

.uk-offcanvas-bar .uk-nav-primary>li>a {
	color: #ffffffdb;
}

.uk-offcanvas-bar .uk-nav-primary>li>a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.uk-offcanvas-bar {
	background: #607d8bf5;
}

.uk-navbar-left>.uk-navbar-nav>li>a:hover {
	text-decoration: underline;
}

.uk-navbar-right>.uk-navbar-nav>li>a:hover {
	background: #f0ffff52;
	text-decoration: underline;
}

.logo {
	max-width: 100%;
	max-height: 80%;
}


.logo-mobile {
	max-width: 60%;
	max-height: 40%;
	border-radius: 10%;
}

.menu {
	box-shadow: 0 10px 15px 0 rgba(0,0,0,0.05)
}

.card-red {
	background: #d9414f;
}

.card-green {
	background: #41d9a1;
}

.card-yellow {
	background: #d9d641;
}

.card-orange {
	background: #f5893c;
}

.card-grey {
	background: #afafaf;
}


.project-card-body>p {
	height: 100px;
}
